@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* -------------------------------------------------------------------------- */
/*                                Globel style                                */
/* -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}

p {
    margin: 0;
}

.rounded-10 {
    border-radius: 10px;
}

/* ------------------------------ header style ------------------------------ */
.navbar-light {
    background-color: var(--cd-color-dark) !important;
    border: 1px solid var(--cd-color-light-dark) !important;
}


/* ------------------------------- Card style ------------------------------- */
.card {
    background-color: #15B261;
}


.cd-19 .active-badge {
    width: 14px;
    height: 14px;
    top: 0%;
    right: 0%;
    border-color: var(--cd-color-blue);
    animation: 1.5s ripple ease-out infinite;
    background: #ccc;
}

@keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 1;
    }
}