<header class="container">
    <!-- <nav class="row navbar navbar-light bg-white rounded-10 border-0 shadow-lg mt-5 mx-2 mx-sm-0 text-center"> -->
    <nav class="row navbar navbar-light bg-white rounded-10 border-0 shadow-lg mx-2 mx-sm-0 text-center"
        style="margin-top: 5rem;">
        <div
            class="col-12 col-sm-12 align-items-center justify-content-center d-flex justify-content-sm-start my-3 my-sm-0 ">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a style="text-decoration: none; color:#15B261" [routerLink]="['/downloads']">Downloads</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{device[0]?.device_name}}</li>
                </ol>
            </div>
        </div>
    </nav>
</header>

<section class="container my-5">
    <div class="row align-items-stretch">

        <!-- ---------------------------- Model name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Model Name</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>{{device[0]?.device_name}}</h5>
                    </div>
                </div>
            </div>
        </div>



        <!-- ---------------------------- Code Name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Code Name</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>{{device[0]?.device_codename}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------- Model name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Maintainer</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>{{device[0].ota_json?.maintainer}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------- Model name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Build Type</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>{{device[0].ota_json?.buildtype}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-stretch">


        <!-- ---------------------------- Versions ----------------------------- -->
        <div class="col-lg-6 mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-21 mx-auto mb-5">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Versions</h5>
                    </div>
                    <div class="text-start">
                        <ul class="p-0 m-0 mt-3">
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">Android</span>
                                <span class="fw-bold">12.1</span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">SpiceOS Version</span>
                                <span class="fw-bold">{{device[0].ota_json?.version}}</span>
                            </li>
                            <li class="py-3 d-flex justify-content-between">
                                <span class="fw-light">Security Patch Level</span>
                                <span class="fw-bold">June 2022</span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a href="https://github.com/SpiceOS-Beta" class="mt-4 me-2 btn btn-outline rounded-pill  px-3"
                                style="border: 2px solid black;">View Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------- Build Info ----------------------------- -->
        <div class="col-lg-6 mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-21 mx-auto mb-5">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Build Info</h5>
                    </div>
                    <div class="text-start">
                        <ul class="p-0 m-0 mt-3">
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">File Name</span>
                                <span class="fw-bold">{{device[0].ota_json?.filename}}</span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">MD5</span>
                                <input type="text" class="form-control" value="{{device[0].ota_json?.md5}}" readonly style="background-color: mediumseagreen;max-width: 50%;">
                                <span class="fw-bold"> <a type="button" class="fw-bold" (click)="copyMD5(device[0].ota_json?.md5)"
                                        style="text-decoration: none; color: black;"><i class="bi bi-clipboard"></i>
                                        Copy MD5</a>
                                </span>
                            </li>
                            <li class="py-3 d-flex justify-content-between">
                                <span class="fw-light">Build Date</span>
                                <span class="fw-bold">{{device[0].ota_json?.build_date}}</span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a href="https://sourceforge.net/projects/spiceos/files/12/{{device[0]?.device_codename}}/{{device[0].ota_json?.filename}}/download" class="mt-4 me-2 btn btn-outline rounded-pill  px-3"
                                style="border: 2px solid black;">Download Latest Version</a>

                            <a href="https://sourceforge.net/projects/spiceos/files/12/{{device[0]?.device_codename}}/" class="mt-4 me-2 btn btn-outline rounded-pill  px-3"
                                style="border: 2px solid black;">Download Previous Versions</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ---------------------------- Support ----------------------------- -->
        <div class="col-lg-12 mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-21 mx-auto mb-5">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Support</h5>
                    </div>
                    <div class="text-start">
                        <ul class="p-0 m-0 mt-3">
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">Device Support Group</span>
                                <span class="fw-bold"><a href={{device[0].ota_json?.telegram}} target="_blank" class="btn btn-secondary">
                                    <i class="bi bi-telegram"></i>
                                   </a></span>

                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">XDA Forum Post</span>
                                <span class="fw-bold"><a href={{device[0].ota_json?.forum}} target="_blank" class="btn btn-secondary">
                                    <i class="bi bi-code-square"></i>
                                   </a></span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">SpiceOS Channel</span>
                                <span class="fw-bold"><a href="https://t.me/spiceosofficial" target="_blank" class="btn btn-secondary">
                                    <i class="bi bi-telegram"></i>
                                   </a></span>
                            </li>
                            <li class="py-3 d-flex justify-content-between">
                                <span class="fw-light">SpiceOS Community</span>
                                <span class="fw-bold"><a href="https://t.me/spiceos" target="_blank" class="btn btn-secondary">
                                    <i class="bi bi-telegram"></i>
                                   </a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>