<!-- // bootstrap card based -->
<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card"style="background-color: #EF5350;">
                <div class="card-body">
                    <h5 class="card-title">Device<br>Model Name</h5>
                    <p class="card-text">Redmi Note 4</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card"style="background-color: #29B6F6;">
                <div class="card-body">
                    <h5 class="card-title">Device<br>Code Name</h5>
                    <p class="card-text">Mido</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color:#F0F4C3 ;">
                <div class="card-body">
                    <h5 class="card-title">Android<br>Version</h5>
                    <p class="card-text">12.1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="background-color:#00897B ;">
                <div class="card-body">
                    <h5 class="card-title">File<br>Name</h5>
                    <p class="card-text">SpiceOS-Mido-12.1-20220613-1246-OFFICIAL.zip</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="background-color: #BA68C8;">
                <div class="card-body">
                    <h5 class="card-title">MD5<br>Hash</h5>
                    <p class="card-text">b23b87a3f260778d727af6c83bae1178</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color: #C5CAE9;">
                <div class="card-body">
                    <h5 class="card-title">Official<br>Maintainer</h5>
                    <p class="card-text">Jijin Raj</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="background-color: ;">
                <div class="card-body">
                    <h5 class="card-title">Build<br>Date</h5>
                    <p class="card-text">June 13, 2022 12:46 UTC</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="background-color: ;">
                <div class="card-body">
                    <h5 class="card-title">Total<br>Downloads</h5>
                    <p class="card-text">500</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color: ;">
                <div class="card-body">
                    <h5 class="card-title">Forum<br>Post Url</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="background-color: #673AB7;">
                <div class="card-body">
                    <h5 class="card-title">Support<br>Group Url</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="background-color: #00BCD4;">
                <div class="card-body">
                    <h5 class="card-title">Download<br>Latest Build</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color:#FFEE58 ;">
                <div class="card-body">
                    <h5 class="card-title">Download<br>Previous Builds</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<header class="container">
    <!-- <nav class="row navbar navbar-light bg-white rounded-10 border-0 shadow-lg mt-5 mx-2 mx-sm-0 text-center"> -->
    <nav class="row navbar navbar-light bg-white rounded-10 border-0 shadow-lg mx-2 mx-sm-0 text-center"
        style="margin-top: 5rem;">
        <div
            class="col-12 col-sm-12 align-items-center justify-content-center d-flex justify-content-sm-start my-3 my-sm-0 ">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a style="text-decoration: none; color:#15B261" href="#">Downloads</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Poco X3 Pro</li>
                </ol>
            </div>
        </div>
    </nav>
</header>

<section class="container my-5">
    <div class="row align-items-stretch">

        <!-- ---------------------------- Model name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Model Name</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>Redmi Note 4</h5>
                    </div>
                </div>
            </div>
        </div>



        <!-- ---------------------------- Code Name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Code Name</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>Mido</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------- Model name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Maintainer</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>Jijin Raj</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------- Model name ----------------------------- -->
        <div class="col mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-19 mx-auto mb-5" style="width:18rem;">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Device</h5>
                        <p>Build Type</p>
                        <span class="active-badge position-absolute bg-success rounded-circle"></span>
                    </div>
                    <div>
                        <!-- <canvas id="myChart" style="width:100%; max-height:140px"></canvas> -->
                        <h5>Vanilla</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-stretch">


        <!-- ---------------------------- Versions ----------------------------- -->
        <div class="col-lg-6 mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-21 mx-auto mb-5">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Versions</h5>
                    </div>
                    <div class="text-start">
                        <ul class="p-0 m-0 mt-3">
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">Android</span>
                                <span class="fw-bold">12.1</span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">SpiceOs Version</span>
                                <span class="fw-bold">5.3</span>
                            </li>
                            <li class="py-3 d-flex justify-content-between">
                                <span class="fw-light">Security Patch Level</span>
                                <span class="fw-bold">June 2022</span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="mt-4 me-2 btn btn-outline rounded-pill  px-3"
                                style="border: 2px solid black;">View Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------- Build Info ----------------------------- -->
        <div class="col-lg-6 mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-21 mx-auto mb-5">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Build Info</h5>
                    </div>
                    <div class="text-start">
                        <ul class="p-0 m-0 mt-3">
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">File Name</span>
                                <span class="fw-bold">SpiceOS-Mido-12.1-20220613-1246-OFFICIAL.zip</span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">MD5</span>
                                <span class="fw-bold"> <a href="#" class="fw-bold"
                                        style="text-decoration: none; color: black;"><i class="bi bi-clipboard"></i>
                                        Copy MD5</a>
                                </span>
                            </li>
                            <li class="py-3 d-flex justify-content-between">
                                <span class="fw-light">Build Date</span>
                                <span class="fw-bold">June 13, 2022 12:46 UTC</span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="mt-4 me-2 btn btn-outline rounded-pill  px-3"
                                style="border: 2px solid black;">View Source Code</a>

                            <a href="#" class="mt-4 me-2 btn btn-outline rounded-pill  px-3"
                                style="border: 2px solid black;">View Source Code</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ---------------------------- Support ----------------------------- -->
        <div class="col-lg-12 mx-auto">
            <div class="card rounded-10 border-0 shadow-lg p-4 cd-21 mx-auto mb-5">
                <div class="card-body p-0">
                    <div class="card-title mb-3 position-relative">
                        <h5>Support</h5>
                    </div>
                    <div class="text-start">
                        <ul class="p-0 m-0 mt-3">
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">Device Support Group</span>
                                <span class="fw-bold"><i class="bi bi-telegram"></i></span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">XDA Forum Post</span>
                                <span class="fw-bold"><i class="bi bi-telegram"></i></span>
                            </li>
                            <li class="py-3 border-bottom d-flex justify-content-between">
                                <span class="fw-light">SpiceOS Channel</span>
                                <span class="fw-bold"><i class="bi bi-telegram"></i></span>
                            </li>
                            <li class="py-3 d-flex justify-content-between">
                                <span class="fw-light">SpiceOS Community</span>
                                <span class="fw-bold"><i class="bi bi-telegram"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>