<div class="container">
    <div class="row center">
        <div class="col-lg-12">
            <h1 class="unleash">
                Unleash The<br>Power Of Android
            </h1>
        </div>
        <!-- <div class="col-lg-12 box" style="margin-top: 20%;"> -->
        <div class="col-lg-12 box">
            <h2 class="welcometospiceos box">
                Welcome To SpiceOS</h2>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-success butn">
                Download Now
            </button>
        </div>
    </div>
</div>