<!-- Footer -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 url-container-start" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-2 my-lg-10">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
          <a class="nav-link sidenav" aria-current="page" data-bs-dismiss="offcanvas" [routerLink]="['/home']"
            routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidenav" aria-current="page" data-bs-dismiss="offcanvas" [routerLink]="['/features']"
            routerLinkActive="active">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidenav" aria-current="page" data-bs-dismiss="offcanvas" [routerLink]="['/about']"
            routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 url-container-middle">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-2 my-lg-10">
        <li class="nav-item">
          <a class="nav-link sidenav" aria-current="page" data-bs-dismiss="offcanvas" [routerLink]="['/changelog']"
            routerLinkActive="active">Changelog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidenav" aria-current="page" data-bs-dismiss="offcanvas" [routerLink]="['/downloads']"
            routerLinkActive="active">Downloads</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 nav-item url-container-end">
      <div class="navbar-nav me-auto mb-2 mb-lg-0 my-2 my-lg-10">
        <p>Be In Touch</p>
      </div>
      <div class="">
        <span><i class="social-icon bi bi-instagram"></i></span>
        <span><i class="social-icon bi bi-instagram"></i></span>
        <span><i class="social-icon bi bi-instagram"></i></span>
      </div>
    </div>
  </div>
    <div class="row text-center">
    <p class="nav-item madewithlove">Licensed Under Apache-2.0 | Made With <i class="bi bi-suit-heart-fill"
      style="color: red;"></i> By Team SpiceOS</p>
  </div>
</div>
<!-- Footer -->