/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    min-height:100%;
    background-color: #161A25;
    background:url(assets/png/background.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size:cover;
  }

// container 
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x, 1.25rem);
    padding-right: var(--bs-gutter-x, 1.25rem);
    width: 100%;
}
